<web-app
	xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
    
<!-- General -->
	<display-name>Cerios Blog Platform</display-name>

<!-- Servlet configurations -->
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>nl.cerios.blog.BlogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- Database connection -->
	<resource-ref>
		<description>SQL Database connection</description>
		<res-ref-name>jdbc/blog</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

<!-- Session Config -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

<!-- Welcome Files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- Error handling -->
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorThrowable.jsp</location>
	</error-page>

</web-app>
