<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
<!-- General -->
	<display-name>Cerios Blog Platformr</display-name>

<!-- Servlet configurations -->
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>nl.cerios.blog.BlogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- Session Config -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

<!-- Welcome Files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- Error handling -->
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorThrowable.jsp</location>
	</error-page>

</web-app>
